<div id="myAccountDialog" style="display:none" title="Enter your new password.">
    <form id="myAccountForm" action="/Security/Users/Update/" method="post" class="container size-12">
        <div class="prepend-3 span-6 append-3 last">
            <label for="OldPassword" class="span-6">Old Password</label>
            <input id="OldPassword" class="span-6" name="OldPassword" type="password" />
            <label for="NewPassword" class="span-6">New Password</label>
            <input id="NewPassword" class="span-6" name="NewPassword" type="password" />
            <label for="ConfirmPassword" class="span-6">Confirm Password</label>
            <input id="ConfirmPassword" class="span-6" name="ConfirmPassword" type="password" />
        </div>
    </form>
</div>
