<script type="text/javascript">
    $(function () {
//        $('#newUserForm').clearForm();
    });
</script>

<div id="newUserDialog" style="display:none" title="Create a new user.">
    <form id="newUserForm" action="/Security/Users/Create/" method="post" class="container size-12">
        <div class="prepend-3 span-6 append-3 last">
            <label for="UserName" class="span-6">User name</label>
            <input id="UserName" class="span-6" name="UserName" type="text" value="" />
            <label for="Email" class="span-6">Email</label>
            <input id="Email" class="span-6" name="Email" type="text" value="" />
            <label for="Password" class="span-6">Password</label>
            <input id="Password" class="span-6" name="Password" type="password" />
            <label for="ConfirmPassword" class="span-6">Confirm Password</label>
            <input id="ConfirmPassword" class="span-6" name="ConfirmPassword" type="password" />
        </div>
    </form>
</div>
