<div id="securityMenu">
	<input type="radio" id="myAccountMenuItem" name="securityMenu" /><label for="myAccountMenuItem">My Account</label>
	<input type="radio" id="logoutMenuItem" name="securityMenu" /><label for="logoutMenuItem">Logout</label>
</div>
