<div id="securityMenu" style="display:none" >
@*	<input type="radio" id="changePasswordMenuItem" name="securityMenu" /><label for="changePasswordMenuItem">Change Password</label>*@
	<input type="radio" id="logoffMenuItem" name="securityMenu" /><label id="logoffMenuItemLabel" for="logoffMenuItem">Logoff</label>
</div>
