<div id="signInDialog" style="display:none" title="Please sign in below.">
    <form id="signInForm" action="/Security/Sessions/Create/" method="post" class="container size-12">
        @*<div id="loginErrorMessage" class="span-12 last validation-summary-errors">
            <span>Login was unsuccessful. Please try again.</span>
        </div>*@

        <div class="prepend-3 span-6 append-3 last">
            <label for="UserName" class="span-6">User name</label>
            <input id="UserName" class="span-6" name="UserName" type="text" value="" />
            <label for="Password" class="span-6">Password</label>
            <input id="Password" class="span-6" name="Password" type="password" />
        </div>
    </form>
</div>
